@model LastClinc.Models.PatientData

@{
    ViewData["Title"] = "Delete";
}


<h3>هل انت متأكد من حذف هذا؟</h3><br /><br />
<div>
    <h4>بيانات المريض</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialHabbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialHabbit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">العودة الي القائمه السابقة</a>
    </form>
</div>
